---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import FormRadioSelect from '~/components/forms/FormRadioSelect';
import FormInput from '~/components/forms/FormInput';
import FormHeader from '~/components/forms/FormHeader.astro';
import FormGroup from '~/components/forms/FormGroup.astro';
import FormDivider from '~/components/forms/FormDivider.astro';
import {questions} from '~/components/forms/questions';

const meta = {
  title: SITE.title,
  description: SITE.description,
  canonical: getCanonical(getHomePermalink()),
};

export async function getStaticPaths({ paginate }) {
  return paginate(questions, { pageSize: 1 });
}

const { page } = Astro.props;
const question = page.data[0];
---

<Layout {meta}>
  <div class="mt-10 sm:mt-0">
    <form action="#" method="POST">
      <div class="overflow-hidden shadow sm:rounded-md">
        <div class="space-y-6 bg-white px-4 py-5 sm:p-6">
          {
            question.type === 'radio' && (
              <FormGroup>
                <FormHeader title={question.label} description={question.description} />
                <FormRadioSelect formRadio={question} client:load />
              </FormGroup>
            )
          }
          {
            question.type === 'input' && (
              <FormGroup>
                <FormHeader title={question.label} description={question.description} />
                <FormInput name={question.name} label={question.label} placeholder={question.placeholder} client:load />
              </FormGroup>
            )
          }
          <FormDivider />
        </div>
        
        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
          <nav class="flex items-center justify-between border-t border-gray-200 px-4 sm:px-0">
          <div class="-mt-px flex w-0 flex-1">
            <a
              href="#"
              class="inline-flex items-center border-t-2 border-transparent pt-4 pr-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
            >
              <!-- Heroicon name: mini/arrow-long-left -->
              <svg
                class="mr-3 h-5 w-5 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a.75.75 0 01-.75.75H4.66l2.1 1.95a.75.75 0 11-1.02 1.1l-3.5-3.25a.75.75 0 010-1.1l3.5-3.25a.75.75 0 111.02 1.1l-2.1 1.95h12.59A.75.75 0 0118 10z"
                  clip-rule="evenodd"></path>
              </svg>
              Previous
            </a>
          </div>
          <div class="hidden md:-mt-px md:flex">
            {
              questions.map((question, index) => (
                <a
                  href={`${ index + 1 }`}
                  class={
                    `${(index + 1 === page.currentPage) ? 'border-rose-500 text-rose-600' : '' } inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700`
                  }
                >
                  {index + 1}
                </a>
              ))
            }
          </div>
          <div class="-mt-px flex w-0 flex-1 justify-end">
            <a
              href="#"
              class="inline-flex items-center border-t-2 border-transparent pt-4 pl-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
            >
              Next
              <!-- Heroicon name: mini/arrow-long-right -->
              <svg
                class="ml-3 h-5 w-5 text-gray-400"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M2 10a.75.75 0 01.75-.75h12.59l-2.1-1.95a.75.75 0 111.02-1.1l3.5 3.25a.75.75 0 010 1.1l-3.5 3.25a.75.75 0 11-1.02-1.1l2.1-1.95H2.75A.75.75 0 012 10z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </div>
        </nav>
          <button
            type="submit"
            class="inline-flex justify-center rounded-md border border-transparent bg-rose-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-rose-500 focus:ring-offset-2"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</Layout>
